In [1]:
import pandas as pd

## data types
#### categorical
* ordinal
* nominal

#### numeric
* discrete
* continuous

In [5]:
df = pd.read_csv('./cars.csv')
df.head()

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.5,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.0,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.5,...,True,False,False,False,False,False,False,True,True,151
3,Subaru,Impreza,mechanical,blue,10000,1999,gasoline,False,gasoline,3.0,...,False,False,False,False,False,False,False,False,False,86
4,Subaru,Legacy,automatic,black,280000,2001,gasoline,False,gasoline,2.5,...,True,False,True,True,False,False,False,False,True,7

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [6]:
df.dtypes

manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas          bool
engine_type           object
engine_capacity      float64
body_type             object
has_warranty            bool
state                 object
drivetrain            object
price_usd            float64
is_exchangeable         bool
location_region       object
number_of_photos       int64
up_counter             int64
feature_0               bool
feature_1               bool
feature_2               bool
feature_3               bool
feature_4               bool
feature_5               bool
feature_6               bool
feature_7               bool
feature_8               bool
feature_9               bool
duration_listed        int64
dtype: object

In [8]:
df.describe()

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed
count,38531.000000,38531.000000,38521.000000,38531.000000,38531.000000,38531.000000,38531.000000
mean,248864.638447,2002.943734,2.055161,6639.971021,9.649062,16.306091,80.577249
std,136072.376530,8.065731,0.671178,6428.152018,6.093217,43.286933,112.826569
min,0.000000,1942.000000,0.200000,1.000000,1.000000,1.000000,0.000000
25%,158000.000000,1998.000000,1.600000,2100.000000,5.000000,2.000000,23.000000
50%,250000.000000,2003.000000,2.000000,4800.000000,8.000000,5.000000,59.000000
75%,325000.000000,2009.000000,2.300000,8990.000000,12.000000,16.000000,91.000000
max,1000000.000000,2019.000000,8.000000,50000.000000,86.000000,1861.000000,2232.000000

In [10]:
df.describe(include='all')

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
count,38531,38531,38531,38531,38531.000000,38531.000000,38531,38531,38531,38521.000000,...,38531,38531,38531,38531,38531,38531,38531,38531,38531,38531.000000
unique,55,1118,2,12,NaN,NaN,6,2,3,NaN,...,2,2,2,2,2,2,2,2,2,NaN
top,Volkswagen,Passat,mechanical,black,NaN,NaN,gasoline,False,gasoline,NaN,...,True,False,False,False,False,False,False,False,True,NaN
freq,4243,1423,25633,7705,NaN,NaN,24065,37184,25647,NaN,...,23396,29907,27904,29227,24811,31943,28369,22528,22325,NaN
mean,NaN,NaN,NaN,NaN,248864.638447,2002.943734,NaN,NaN,NaN,2.055161,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.577249
std,NaN,NaN,NaN,NaN,136072.376530,8.065731,NaN,NaN,NaN,0.671178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.826569
min,NaN,NaN,NaN,NaN,0.000000,1942.000000,NaN,NaN,NaN,0.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,158000.000000,1998.000000,NaN,NaN,NaN,1.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.000000
50%,NaN,NaN,NaN,NaN,250000.000000,2003.000000,NaN,NaN,NaN,2.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000
75%,NaN,NaN,NaN,NaN,325000.000000,2009.000000,NaN,NaN,NaN,2.300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.000000
max,NaN,NaN,NaN,NaN,1000000.000000,2019.000000,NaN,NaN,NaN,8.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2232.000000

In [14]:
df.corr()

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
odometer_value,1.000000,-0.488679,0.057786,0.105704,-0.189498,-0.421204,0.042342,-0.143708,-0.020961,0.105917,-0.150960,-0.076169,-0.229082,-0.067292,-0.240968,-0.166413,-0.254539,-0.208844,-0.087875,-0.000428
year_produced,-0.488679,1.000000,-0.074686,0.005059,0.209231,0.705511,-0.057937,0.258180,0.007945,-0.346980,0.424750,0.205039,0.431307,0.184757,0.435241,0.345745,0.457091,0.465969,0.247439,-0.017001
engine_has_gas,0.057786,-0.074686,1.000000,0.084579,-0.020667,-0.062528,0.018646,-0.032101,0.000058,0.004089,-0.008071,-0.012030,-0.027034,0.003547,-0.031172,-0.030140,-0.036635,-0.041992,-0.005855,0.018264
engine_capacity,0.105704,0.005059,0.084579,1.000000,-0.054583,0.296597,0.081636,0.106691,0.079152,-0.142097,0.134315,0.375726,0.243494,0.452533,0.273235,0.284419,0.202070,0.240077,0.245828,0.080081
has_warranty,-0.189498,0.209231,-0.020667,-0.054583,1.000000,0.285532,0.117775,0.084045,-0.023087,0.149966,-0.121138,-0.046124,-0.036166,-0.046572,-0.044887,-0.021049,-0.024925,-0.058637,-0.094622,-0.061798
price_usd,-0.421204,0.705511,-0.062528,0.296597,0.285532,1.000000,-0.000503,0.316859,0.057382,-0.223896,0.255806,0.338166,0.470929,0.336143,0.434471,0.451714,0.498547,0.449131,0.266156,0.033524
is_exchangeable,0.042342,-0.057937,0.018646,0.081636,0.117775,-0.000503,1.000000,0.103725,0.106213,0.013844,-0.037863,0.045769,-0.029301,0.010207,-0.022763,0.000588,-0.021710,0.000701,0.031275,0.026897
number_of_photos,-0.143708,0.258180,-0.032101,0.106691,0.084045,0.316859,0.103725,1.000000,0.073891,-0.106468,0.087605,0.131281,0.177874,0.137266,0.162720,0.183741,0.192636,0.197508,0.132390,-0.028255
up_counter,-0.020961,0.007945,0.000058,0.079152,-0.023087,0.057382,0.106213,0.073891,1.000000,-0.022423,0.043414,0.040796,0.032885,0.050971,0.039292,0.033456,0.035347,0.063588,0.037183,0.698116
feature_0,0.105917,-0.346980,0.004089,-0.142097,0.149966,-0.223896,0.013844,-0.106468,-0.022423,1.000000,-0.676718,-0.292278,-0.335893,-0.307094,-0.404747,-0.247182,-0.325759,-0.458741,-0.638831,-0.068888
feature_1,-0.150960,0.424750,-0.008071,0.134315,-0.121138,0.255806,-0.037863,0.087605,0.043414,-0.676718,1.000000,0.253534,0.325128,0.267914,0.399224,0.242606,0.316886,0.454120,0.396397,0.099893
feature_2,-0.076169,0.205039,-0.012030,0.375726,-0.046124,0.338166,0.045769,0.131281,0.040796,-0.292278,0.253534,1.000000,0.437269,0.484722,0.422779,0.419173,0.387818,0.412211,0.373766,0.049881
feature_3,-0.229082,0.431307,-0.027034,0.243494,-0.036166,0.470929,-0.029301,0.177874,0.032885,-0.335893,0.325128,0.437269,1.000000,0.399051,0.496255,0.502680,0.522689,0.508890,0.378395,0.038335
feature_4,-0.067292,0.184757,0.003547,0.452533,-0.046572,0.336143,0.010207,0.137266,0.050971,-0.307094,0.267914,0.484722,0.399051,1.000000,0.487586,0.405451,0.372144,0.405338,0.395459,0.071438
feature_5,-0.240968,0.435241,-0.031172,0.273235,-0.044887,0.434471,-0.022763,0.162720,0.039292,-0.404747,0.399224,0.422779,0.496255,0.487586,1.000000,0.392463,0.451348,0.534623,0.409265,0.051403
feature_6,-0.166413,0.345745,-0.030140,0.284419,-0.021049,0.451714,0.000588,0.183741,0.033456,-0.247182,0.242606,0.419173,0.502680,0.405451,0.392463,1.000000,0.607673,0.445521,0.312640,0.036499
feature_7,-0.254539,0.457091,-0.036635,0.202070,-0.024925,0.498547,-0.021710,0.192636,0.035347,-0.325759,0.316886,0.387818,0.522689,0.372144,0.451348,0.607673,1.000000,0.514342,0.351370,0.038122
feature_8,-0.208844,0.465969,-0.041992,0.240077,-0.058637,0.449131,0.000701,0.197508,0.063588,-0.458741,0.454120,0.412211,0.508890,0.405338,0.534623,0.445521,0.514342,1.000000,0.447748,0.070011
feature_9,-0.087875,0.247439,-0.005855,0.245828,-0.094622,0.266156,0.031275,0.132390,0.037183,-0.638831,0.396397,0.373766,0.378395,0.395459,0.409265,0.312640,0.351370,0.447748,1.000000,0.058277
duration_listed,-0.000428,-0.017001,0.018264,0.080081,-0.061798,0.033524,0.026897,-0.028255,0.698116,-0.068888,0.099893,0.049881,0.038335,0.071438,0.051403,0.036499,0.038122,0.070011,0.058277,1.000000